html, body, div, h1, h2, p, ul, ul li {
	margin:0;
	padding:0;
}

/* Layout styles */

body {
	width: 70%;
    margin: 0 auto;
}
header, nav, footer ul {
    display: flex;
}
header {
    margin: 3rem 0;
    align-items: center;
}
.twocol {
    display: flex;
}
    .content {
        width: 75%;
        margin-right: 5%;
    }
    .sidebar {
        width: 20%;
        position: fixed;
        right: 5%;
    }
footer {
    border-top: 2px dashed;
    padding: 1.5rem 0;
    margin-top: 6rem;
}

/* Content styles */

body {
	font-size: 16px;
    line-height: 1.5rem;
    font-family: 'Merriweather', serif;
}
nav ul li, .sidebar ul li, footer ul li {
    list-style-type: none;
}
nav ul li, .sidebar ul li, footer ul li, a.logo {
    margin-right: 1rem;
}
a.logo {
    display: block; 
    width: 48px;
    height: 48px;
    text-decoration: none;
}
h1 {
	font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
h1, li a, .hero, .button {
	font-family: 'Oswald', sans-serif;
}
li a, .button {
	font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}
li a, a.button {
    text-decoration: none;
}
.button {
    border-radius: 0.5rem;
    border: 2px solid;
}
nav ul li a, .button {
    display: inline-block;
    padding: 0.5rem 1rem;
}
.hero, .h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
p {
    margin-bottom: 1.5rem;
}
.container img {
    border: 1px solid;
    display:inline-block;
    margin-right: 1.5rem;
    max-width: 100%;
}

/* Breakpoints */

@media (min-width: 430px) {
    body {
        width: 80%;
    }
  }
  